<!DOCTYPE html>
<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {
  background: linear-gradient(to right,#ff7b5c,#ff6c81);
}

@media only screen and (max-width: 600px) {
  body {
  background: linear-gradient(#ff7b5c,#ff6c81);
  }
}
</style>
<style>
body {font-family: Arial, Helvetica, sans-serif;}

input[type=text], input[type=Email] {
  width: 90%;
  padding: 12px 13px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #717171;
  box-sizing: border-box;
  border-radius: 8px;
}
input[type=Ffact]{
  width: 90%;
  padding: 36px 13px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #717171;
  box-sizing: border-box;
  border-radius: 8px;
  text-align:left;
}

button {
  background-color: #EF8E81;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  font-size: 9px;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 12px;
  float: right;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  width: 280px;
  margin: 100px;
  background-color:#FFFFFF;
  padding: 16px;
  text-align: center; 
  border-radius: 12px;
  display: inline-block;
  border: 1px solid #C98D88;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
img {
 max-width: 100%;
 max-height: 100%;
}
.anteater {
 position:absolute;
 height: 200px;
 width: 200px;    
 top:200px;
 left: 600px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>
<div class="anteater">
    <img src="https://hackatuci.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F9255444f-210a-4c53-9891-e30c969f82e0%2Fpetr.png?table=block&id=d75836de-308a-473e-9256-bbf939373fbb&spaceId=4e23f586-3e2e-403c-b0fd-e532279b0d08&width=380&userId=&cache=v2" />
</div>

<form action="/action_page.php" method="post">
    <style>
      div {
        margin-bottom: 10px;
      }
      label {
        display: inline-block;
        width: 200px;
        text-align: left;
      }
    </style>

  <div class="container">
  
	<h3>Hack UCI Application</h3>
    <label for="uname"><b>Name<br></b></label> 
    <input type="text" placeholder="Name" name="uname" required>

    <label for="email"><b><br>Email<br></b></label>
    <input type="Email" placeholder="Email" name="email" required>
    
    <label for="Ffact"><b><br>Fun Fact<br></b></label>
    <input type="Ffact" placeholder="Fun Fact" name="Ffact" required >
        
    <br><br><br><button type="submit">Submit</button><br><br>
  </div>

</form>

</body>
</html>




